*{
    color: #32435f;
}

header{
    height: 50px;
    background: #a67f78;
}

body{
    margin: 0;
}

a{
    color: #e1dcd9;
    text-decoration: none;
    z-index: 20;
    transition-duration: 0.3s;
    font-size: 20px;
}

p{
    margin: 5px 0px;
    font-size: 25px;
}

.main_menu li{
    display: inline-block;
    padding: 0px 15px;
    z-index: 20;
}

ul li{
    list-style: none;
}

ul{
    padding: 0px;
}

.center_block{
    width: 1250px;
    display: flex;
    justify-content: space-between;
}

ul.people{
    text-decoration: none;
    padding: 0px;
}

a.menu_link{
    color: #e1dcd9;
    font-size: 20px;
    transition-duration: 0.4s;
}

li :hover{
    color: #32435f;
}

.main_section{
    background: #e1dcd95f;
    display: flex;
    justify-content: center;
}

.main_menu{
    display: flex;
    background: #a67f78;
    align-items: center;
    justify-content: center;
}

.params{
    display: flex;
    flex-direction: column;
    width: 312px;
    margin: 15px 10px;
}

.param_menu{
    padding: 10px;
    background: white;
    display: inline-block;
    height: fit-content;
    top: 0;
    width: 312px;
}

.cards_box{
    width: 75%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    height: 300px;
    width: 210px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px 1px #32435f5a;
    transition-duration: 0.3s;
    margin: 5px;
}

div.card_photo{
    overflow: hidden;
    display: flex;
    justify-content: center;
    size: cover;
    height: 75%;
}

img.photo{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.cards_inf{
    height: 25%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.card:hover{
    transform: scale(1.05);
}

li.name_link{
    font-size: 20px;
    display: flex;
    align-items: center;
}

li.name_link::before{
    content: "\f105";
    font-family: fontawesome;
    font-size: 13px;
    margin: 0px 2px;
}

.name_link:hover{
    background: #32435f5a;
    color: white;
    border-radius: 5px;
}

.name_link:hover > a > div{
    color:white;
}

li.name_link:active{
    background: #32435f7c;
}   

a.name{
    display: block;
    width: 90%;
}

footer{
    height: 50px;
    background: #a67f78;
}

#checkbox_menu{
    position: fixed;
    z-index: 10;
    margin: 20px;
    opacity: 0;
    height: 10px;
    width: 10px;
}

.hamburger{
    cursor: pointer;
    height: 20px;
    display: none;
    width: 20px;
    margin: 10px;
}

i{
    display: block;
    color: #e1dcd9;
    font-size: 20px;
    text-align: center;
}

.angle{
    height: 30px;
    width: 30px;
}


#option1,
#option2{
    display: none;
}

.menu_hamburger,
.log_hamburger{
    cursor: pointer;
    height: 20px;
    display: none;
    width: 20px;
    margin: 10px;
}

.radio-container1 > ul,
.radio-container2 > ul{
    height: 20px;
}

.radio-container1,
.radio-container2{
    display: flex;
    align-items: center;
    height: 50px;
}

.radio-container2{
    flex-direction: row-reverse;
}

@media (max-width: 1260px) {
    
    .center_block{
        width:90%;
    }

    .params{
        transition-duration: 0.5s;
        position: absolute;
        margin: 5px;
    }

    .param_menu{
        transform: translateX(-400px);
        overflow: hidden;
        transition-duration: 0.5s;
    }

    .cards_box{
        margin-top: 40px;
        width: 100%;
        z-index: 1;
    }

    .params:has(#checkbox_menu:checked){
        width: 312px;
        position: absolute;
    }

    #checkbox_menu:checked ~ .param_menu{
        padding: 5px;
        display: block;
        background-color: white;
        height: fit-content;
        z-index: 30;
        width: 100%;
        margin: 0;
        transform: translateX(0px);
    
    }

    .hamburger{
        display: block;
        transition-duration: 0.5s;
        z-index: 12;
    }

    #checkbox_menu:checked ~ .hamburger{
        transform: rotate(90deg);
        transform-origin: center;
        z-index: 12;
    }

    .main_section::after{
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #32435f00;
        transition-duration: 0.5s;
        z-index: -1;
    }

    .main_section:has(#checkbox_menu:checked)::after{
        background: #000000ac;
        z-index: 10;
    }

}

@media (max-width: 540px) {

    .menu_hamburger,
    .log_hamburger{
        display: block;
    }

    .media_menu,
    .log{
        width: 0px;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    #option1:checked ~ .media_menu{
        width: 300px;
    }

    #option2:checked ~ .log{
        width: 300px;
    }
}

@media (max-width: 510px) {

    .center_block{
        width: 100%;
    }

    .cards_box{
    justify-content: space-around;
    }

    .main_menu li{
        padding: 0px 4px;
    }

    #option1:checked ~ .media_menu{
        width: 250px;
    }

    #option2:checked ~ .log{
        width: 250px;
    }
    
}
