*{
    color: #32435f;
}

i{
    color: #e1dcd9;
}

header{
    height: 50px;
    background: #a67f78;
    display: flex;
    justify-content: center;
}

body{
    margin: 0;
}

.main_menu li{
    display: inline-block;
    padding: 0px 15px;

}

ul{
    text-decoration: none;
    padding: 0px;
}

a{
    text-decoration: none;
    color: #e1dcd9;
    font-size: 20px;
    transition-duration: 0.4s;
    display: block;
}

p{
    font-size: 30px;
    margin: 10px 0px;
}

span{
    font-size: 23px;
    padding: 23px 0px;
}

i{
    display: block;
    font-size: 23px;
    padding: 5px 0px;
}

li :hover{
    color: #32435f;
}

.main_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main_section{
    background: #e1dcd9;
    display: flex;
    justify-content: center;
}

.center_block{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_block{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info_block > div{
    height: 400px;
    background: white;
    width: 350px;
    margin: 10px 0px;
    padding: 15px;
}

.photo_block{
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.workplace{
    color: #32435f;
    text-decoration: underline;
}

footer{
    height: 50px;
    background: #a67f78;
}


#option1,
#option2{
    display: none;
}

.menu_hamburger,
.log_hamburger{
    cursor: pointer;
    height: 20px;
    display: none;
    width: 20px;
    margin: 10px;
}

.radio-container1 > ul,
.radio-container2 > ul{
    height: 20px;
}

.radio-container1,
.radio-container2{
    display: flex;
    align-items: center;
    height: 50px;
}

.radio-container2{
    flex-direction: row-reverse;
}

@media (max-width: 1260px){

    .center_block{
        width:90%;
    }

}

@media (max-width: 570px) {

    .menu_hamburger,
    .log_hamburger{
        display: block;
    }

    .media_menu,
    .log{
        width: 0px;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    #option1:checked ~ .media_menu{
        width: 300px;
    }

    #option2:checked ~ .log{
        width: 300px;
    }
}

@media (max-width:400px) {

    .info_block > div{
        width: 100%;
        margin: 10px 0px;
        padding: 15px;
    }
    
}